<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <p class="fs-4">Comparativo Mensual</p>
    <form [formGroup]="filterForm" (ngSubmit)="onSubmit()" class="btn-toolbar mb-2 mb-md-0">

        <!-- Selector de Sucursal -->
        <div class="input-group me-2">
            <span class="input-group-text">
                <i class="bi bi-building"></i>
            </span>
            <select class="form-select form-select-sm" formControlName="sucursal">
                <option value="" disabled>Sucursal</option>
                <option value="1">001 - Home Sentry Norte</option>
                <option value="21">021 - Home Sentry Plaza Americas</option>
                <option value="32">032 - Home Sentry Titan</option>
                <option value="53">053 - Home Sentry 116</option>
                <option value="68">068 - Home Sentry Salitre</option>
                <option value="84">084 - Sentry Cacique</option>
                <option value="100">100 - Home Sentry Villavicencio</option>
                <option value="140">140 - Sentry Cali 6ta Avenida</option>
                <option value="160">160 - Sentry Mayorca</option>
                <option value="180">180 - Sentry Fontanar Chia</option>
                <option value="200">200 - Sentry Viva Barranquilla</option>
                <option value="220">220 - Sentry Online</option>
                <option value="240">240 - Sentry Mercado Libre</option>
                <option value="280">280 - Hs Cartagena Bocagrande Plaza</option>
                <option value="300">300 - Sentry Medellin Santafe</option>
                <option value="320">320 - Sentry Plaza Central Bogota</option>
            </select>
        </div>

        <!-- Selector de Año -->
        <div class="input-group me-2">
            <span class="input-group-text">
                <i class="bi bi-calendar3"></i>
            </span>
            <select class="form-select form-select-sm" formControlName="year">
                <option value="" disabled selected>Año</option>
                <option value="2024">2024</option>
                <option value="2023">2023</option>
                <option value="2022">2022</option>
            </select>
        </div>

        <!-- Botón de Aplicar Filtros -->
        <button type="submit" class="btn btn-sm btn-outline-primary d-flex align-items-center gap-1">
            <i class="bi bi-funnel"></i>
            Aplicar Filtros
        </button>
    </form>
</div>

<div class="container">
    <mat-form-field class="">
        <mat-label>Filtrar por Nombre</mat-label>
        <input matInput placeholder="Ingrese un texto" [(ngModel)]="searchText" (keyup)="onInputChange()">
    </mat-form-field>
</div>



<div class="table-responsive small">
    <table matSort (matSortChange)="sortData($event)" mat-table [dataSource]="listaVentasDataSource"
        class="table table-striped table-hover table-sm">
        <ng-container matColumnDef="codigoCategoria">
            <th mat-sort-header="codigoCategoria" mat-header-cell *matHeaderCellDef > Código </th>
            <td mat-cell *matCellDef="let element"> {{element.codigoCategoria}} </td>
        </ng-container>

        <ng-container matColumnDef="nombreCategoria">
            <th mat-sort-header="nombreCategoria" mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombreCategoria}} </td>
        </ng-container>

        <ng-container matColumnDef="mes">
            <th mat-sort-header="mes" mat-header-cell *matHeaderCellDef> Mes </th>
            <td mat-cell *matCellDef="let element"> {{element.mes}} </td>
        </ng-container>

        <ng-container matColumnDef="nombreSucursal">
            <th mat-sort-header="nombreSucursal" mat-header-cell *matHeaderCellDef> Sucursal </th>
            <td mat-cell *matCellDef="let element"> {{element.nombreSucursal}} </td>
        </ng-container>

        <ng-container matColumnDef="ventaActual">
            <th mat-header-cell *matHeaderCellDef> Venta Actual </th>
            <td mat-cell *matCellDef="let element" class="text-end"> {{element.ventaActual | number:'1.0-0'}} </td>
        </ng-container>

        <ng-container matColumnDef="costoActual">
            <th mat-header-cell *matHeaderCellDef> Costo Actual</th>
            <td mat-cell *matCellDef="let element" class="text-end"> {{element.costoActual | number:'1.0-0'}}</td>
        </ng-container>

        <ng-container matColumnDef="utilidadActual">
            <th mat-header-cell *matHeaderCellDef> Utilidad Actual </th>
            <td mat-cell *matCellDef="let element" class="text-end"> {{element.utilidadActual | number:'1.0-0'}} </td>
        </ng-container>

        <ng-container matColumnDef="margenActual">
            <th mat-header-cell *matHeaderCellDef> Margen Actual </th>
            <td mat-cell *matCellDef="let element" class="text-end"> {{element.margenActual | number:'1.0-0'}} </td>
        </ng-container>

        <ng-container matColumnDef="ventaAnterior">
            <th mat-header-cell *matHeaderCellDef> Venta Anterior </th>
            <td mat-cell *matCellDef="let element" class="text-end"> {{element.ventaAnterior | number:'1.0-0'}} </td>
        </ng-container>

        <ng-container matColumnDef="costoAnterior">
            <th mat-header-cell *matHeaderCellDef> Costo Anterior</th>
            <td mat-cell *matCellDef="let element" class="text-end"> {{element.costoAnterior | number:'1.0-0'}}</td>
        </ng-container>

        <ng-container matColumnDef="utilidadAnterior">
            <th mat-header-cell *matHeaderCellDef> Utilidad Anterior </th>
            <td mat-cell *matCellDef="let element" class="text-end"> {{element.utilidadAnterior | number:'1.0-0'}} </td>
        </ng-container>

        <ng-container matColumnDef="margenAnterior">
            <th mat-header-cell *matHeaderCellDef> Margen Anterior </th>
            <td mat-cell *matCellDef="let element" class="text-end"> {{element.margenAnterior | number:'1.0-0'}} </td>
        </ng-container>

        <ng-container matColumnDef="diferenciaVentas">
            <th mat-header-cell *matHeaderCellDef> Diferencia Ventas </th>
            <td mat-cell *matCellDef="let element" class="text-end"> {{element.diferenciaVentas | number:'1.0-0'}} </td>
        </ng-container>

        <ng-container matColumnDef="variacionVentas">
            <th mat-header-cell *matHeaderCellDef> Variación Ventas </th>
            <td mat-cell *matCellDef="let element" class="text-end"> {{element.variacionVentas | number:'1.0-0'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Selecciona una página">
    </mat-paginator>
</div>

<br><br><br>

<app-categoria-ventas></app-categoria-ventas>