
<!-- Navegación entre componentes viendo pagina principal -->
 <ul>
  <li>
    <a routerLink="/comparativo-ventas-3-anos" routerLinkActive="active" ariaCurrentWhenActive="page" >
    Comparativo de Ventas de 3 Años
    </a>

  <li>
    <a routerLink="/comparativo-ventas-mensual-categoria" routerLinkActive="active" ariaCurrentActive="page">
      Comparativo de Ventas Mensual por Categoría
    </a>
  </li>

  <li>
    <a routerLink="/informe-ventas-mes-categoria-proveedor" routerLinkActive="active" ariaCurrentActive="page">
      Informe de Ventas del Mes por Categoría
    </a>
  </li>
 </ul>

 <router-outlet></router-outlet>