<div class="flex h-screen bg-gray-100 dark:bg-gray-900">
  <!-- Sidebar siempre visible y fija -->
  <app-sidebar class="fixed h-full"></app-sidebar>

  <div class="flex-1 flex flex-col ml-16"> <!-- Ajusta el margen izquierdo para compensar el ancho de la sidebar -->
    <!-- Navbar siempre visible -->
    <app-navbar></app-navbar>

    <!-- Contenido dinámico en función de la ruta -->
    <main class="flex-1 p-6 dark:bg-gray-900 text-gray-900 dark:text-white">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

